package ui

templ MovieRow(name string, account string) {
    <div class="movie-card">
        <strong>{ name }</strong> 
        <small style="display:block; color: gray;">Added by: { account }</small>
    </div>
}